/* Text common configuration */
body,
select,
span,
.btn,
.form-control {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a:focus,
.btn:focus {
  outline: none;
}

/* ------------------------- */

/* Normalize bootstrap/select2 controls parameters */
.regularSelect2 {
  width: 100px;
}

button.multiselect,
.select2-container .select2-choice {
  height: 30px;
  line-height: 17px;
}

.select2-container-multi .select2-choices .select2-search-field input {
  height: 28px;
}

.btn-sm {
  line-height: 18px;
}
/* ----------------------------------------------- */
